@model IEnumerable<PagerTest.Controllers.Customer>
@using MvcContrib.Pagination
@using MVCDiggPager

@{
		ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@{ var pager = Html.Pager((IPagination)Model); }

@Html.Raw(pager.ToString())

@Html.Pager((IPagination)Model)

@foreach (var item in Model)
{
	<p>@item.Name</p>
}
