@model IEnumerable<PagerTest.Controllers.Customer>
@using MvcContrib.Pagination
@using MVCDiggPager

@{
		ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@Html.Pager((IPagination)Model)

@foreach (var item in Model)
{
	<p>@item.Name</p>
}
