@model IEnumerable<PagerTest.Controllers.Customer>
@using MvcContrib.Pagination
@using MVCDiggPager

@{
		ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@{ var pager = Html.DiggPager((IPagination)Model); }

<div class="pager">@pager</div>


@foreach (var item in Model)
{
	<p>@item.Name</p>
}

<div class="pager">@pager</div>
